body{
  background: linear-gradient(#fff200, #000);
  padding-top: 30px;
}

.container{
  height: 100%;
  padding: 0;
  width: 100%;
}

.second-msg{
  margin: 15px 0;
}

.pugya{
  width: 100%;
  margin-bottom: 20px;
}

.msg{
  font-size: 25px;
  line-height: 30px;
}

.end-roll .msg{
  margin: 20px 0;
  color: #FFF;
}

.first-msg{
  width: 70%;
}

.end-roll{
  margin: 100px 0;
  margin-top: 2000px;
}

.enter{
  width: 70%;
}

@media screen and (min-width: 700px){
  .first-msg{
    width: 50%;
  }
  .pugya, .enter{
    width: 60%;
  }
}

@media screen and (min-width: 1200px){
  .first-msg{
    width: 40%;
  }
  .pugya, .enter{
    width: 50%;
  }
}

