body{
  width: 100%;
  background-color: #424242;
}

.container{
  height: 100%;
  padding: 0;
  width: 100%;
}

.second-msg{
  margin: 15px 0;
}

.pugya{
  width: 40%;
  margin-bottom: 300px;
}

.first-msg{
  width: 70%;
}

.end-roll{
  margin: 100px 0;
}

.enter{
  width: 200px;
  margin-top: 2000px;
}

@media screen and (min-width: 700px){
  .first-msg{
    width: 50%;
  }
  .pugya{
    width: 30%;
  }
}

@media screen and (min-width: 1200px){
  .first-msg{
    width: 40%;
  }
  .pugya{
    width: 20%;
  }
}

